
.dashboard-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.dashboard-container {
    position: relative;
    height: auto;
    overflow-x: scroll;
    margin: 1.2em 0;

    & .dashboard-bg {
        background: var(--unBlue6);
    }

    /* Caption */

    & .dashboard-caption {
        color: var(--gray2);
        text-wrap: pretty;
        font-size: .7rem;
        margin: .5rem 2rem;
        
        & .caption-emph {
            color: var(--blue2);
            font-weight: 700;
        }
    }

    /* Tabs */

    & .tabs { 
        position: absolute;
        top: 1em;
        left: 1em;

        width: auto;
        height: auto;
        font-size: 0.8em;
        cursor: pointer;
        text-transform: uppercase;
       
        display: flex;
        flex-direction: column;
        gap: .25em;
        flex-wrap: wrap;
        margin: auto 0;
    
        & .tab { 
            width: auto;
            padding: .25rem .5rem; 
            background: var(--unBlue3);
            color: var(--blue1);
            opacity: .75;
            border-radius: .25em;
    
            &:hover {
                background-color: var(--unBlue3);
                opacity: .5;
                transform: scale(1.025);
                transition: 
                    background-color .2s ease-in-out,
                    scale .2s ease-in-out;
            }
    
            &.active { 
                background: var(--blue1); 
                opacity: 1;
                color: white; 
                font-weight: bold;
                transition: background .2s ease-in-out;
            }
        }
    }
}

.mainview {
    width: 100%;
    gap: .5rem; 
    background: var(--unBlue6);
    display: flex;
    flex-direction: column;

    & .sidebar {
        position: absolute;
        top: 5em;
        left: .75em;
        width: var(--width-form);
        height: auto;
        
        display: flex;
        flex-direction: column;
        gap: .8rem;
        text-align: left;
        padding: .8rem .8rem 1rem .8rem;

        & form {
            z-index: 1;
            
            & .form-head {
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: var(--width-form);
                margin-bottom: .5rem;
        
                & .form-title {
                    display: block;
                    color: var(--blue1);
                    fill: var(--blue1);
                    font-size: .875em;
                    font-weight: bold;
                }
                
                & .form-desc {
                    display: block;
                    color: var(--blue2);
                    fill: var(--blue2);
                    font-size: .625rem;
                    line-height: 1.2em;
                    text-wrap: balance;
                }
            }

            .form-body {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
    
            & select {
                font-size: .8em;
                width: 100%;
            }
        }
    }

    & .panel {
        height: clamp(400px, 18.75rem + 25vw, 500px);
    }
}

.mainview.map {
    
    & .sidebar {

        & .form-inset-bg {
            order: 1;
            position: absolute;
            inset: 0;
            background: white;
            opacity: .6;
            z-index: 0;
        }

        & #radio-year {
            label {
                display: flex;
                gap: .4rem;
                color: var(--blue1);
                font-size: .8em;
            }
        }

        & #radio-indicator {
                
            & .icon-group {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: auto;
                gap: .5rem;
                padding: .25rem 0;
                cursor: pointer;
    
                & .icon {
                    display: flex;
                    aspect-ratio: 1;
                    background-color: var(--blue5);
                    border: 2px solid var(--blue4);
                    border-radius: 50%;
                    opacity: .5;
                    padding: .25em;
    
                    & img {
                        margin: auto;
                    }
                }
    
                &:not(.icon-clicked):hover .icon {
                    background-color: var(--unBlue3) ;
                    border: 2px solid var(--blue2);
                    opacity: .75;
                    transition: background-color .1s ease-in-out;
                }
    
                & .icon-label {
                    font-size: .7rem;
                    color: var(--blue3);
                    line-height: 1.2;
                }
    
                &:not(.icon-clicked):hover .icon-label {
                    color: var(--blue2);
                }
    
                &.icon-clicked {
    
                    & .icon {
                        background-color: var(--unBlue3);
                        border: 2px solid var(--blue1);
                        opacity: 1;
                        transition: opacity .1s ease-in-out;
                    }
    
                    & .icon-label {
                        color: var(--blue1);
                        font-weight: bold;
                        transition: color .1s ease-in-out;
                    }
                }
            }
        }
    }

    @media (width < 480px) {
    /* sidebar moves to bottom */

        & .sidebar {
            position: relative;
            order: 2;
            top: 0;
            left: 0;
            width: 100%;
            padding: 1.5em;
            gap: 1em;

            & form {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-self: start;
                max-width: 100%;
            }

            & .form-head {
                width: 100px;
                margin: 0;
                flex-shrink: 0;
            }

            & .form-body {
                flex-direction: row;
                row-gap: 0;
                column-gap: 1em;
                margin: 0;
            }
        }
    }

    & .panel {
        height: clamp(400px, 18.75rem + 25vw, 500px);

        & .control-panel {
            position: absolute;
            top: clamp(0.5rem, 2vw, 1rem);
            right: clamp(0.5rem, 2vw, 1rem);
        }

        & .ocean {
            x: 0;
            y: 0;
            width: var(--width-chart);
            height: var(--height-chart);
            fill: var(--unBlue6);
        }

        & .map-outline {
            fill: none;
            stroke: none;
            stroke: var(--blue3);
            stroke-width: .5;
            filter: drop-shadow(0 0 5px var(--unBlue3));
        }

        & .unknown {
            & .unknown-rect {
                fill: var(--unBlue5);
                fill-opacity: .7;
                stroke: var(--blue3);
                stroke-width: .5;
            }

            & .unknown-text {
                font-size: .7em;
                fill: var(--unBlue2);
            }
        }
          
        & .border {
            fill: white;
            stroke: var(--unBlue5);
            stroke-width: .5;
            stroke-linejoin: round;
            transition: fill .2s ease-in-out;

            &.latent {
                fill: var(--unBlue4);
                cursor: pointer;
                fill-opacity: 1;
                /* transition: fill-opacity .1s ease-in; */

                &:hover {
                    fill-opacity: .8;
                }
            }

            &.geo-select {
                fill: var(--unBlue2);
            }
        }
          
        & .border-disputed-black {
            fill: none;
            stroke-width: .5;
            stroke-linejoin: round;
            stroke-dasharray: .5;
        }
          
        & .border-disputed-white {
            fill: none;
            stroke-width: 1.25;
            stroke-linejoin: round;
            stroke-dasharray: .5;
        }
        
        & .bubble {
            fill: var(--red4);
            fill-opacity: .5;
            stroke: var(--red2);
            stroke-width: .75;
        }
    }
}

.mainview.grid {

    & .form-inset-bg {
        opacity: 0;
    }

    & .grid {
        padding-top: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        padding-left: calc(var(--width-form) + 70px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;
        
        & .grid-cell {
            width: 100%;
            height: 100%;

            & .grid-cell-title {
                font-size: .8em;
                font-weight: bold;
                fill: var(--blue1);
                text-anchor: middle;
                dominant-baseline: middle;
            }
        }
    }

    & .axis {
        font-size: .6em;
    }

    & .grid-lines {
        stroke: var(--unBlue3);
        stroke-opacity: .4;

        &.zero {
            stroke: black;
            stroke-opacity: 1;
            stroke-width: .5;
        }
    }

    & .marker {
        stroke: var(--blue5);
    }
    
    & .chart-line {
        fill: none;
        stroke: var(--blue3);
        stroke-width: 3;
        opacity: .5;
    }

    & .chart-dot {
        fill: var(--blue2);
    }

    & .chart-bar {
        
        &.positive {
            fill: var(--blue2);
        }

        &.negative {
            fill: var(--green1);
        }
    }
}