
/* .top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background: var(--unBlue5);
    height: auto;

    @media (width < 922px) {
        justify-content: center;
        gap: .25rem;
    }
} */

/*** Tabs **************************************/

/* .tabs { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

    cursor: pointer;
    font-size: 0.6rem;
    font-size: clamp(0.6rem, 0.4rem + 0.8vw, 0.8rem);
    text-transform: uppercase;
    margin: 1rem 0; 

    @media (width < 922px) { 
        flex-direction: row;
        width: 100%;
        justify-content: center; 
        margin: 0; 
    }

    & .tab { 
        width: auto;
        padding: .25rem .5rem; 
        background: var(--unBlue4);
        color: var(--blue2);
        opacity: .5;

        &:hover {
            background-color: var(--unBlue3);
            opacity: .5;
            transform: scale(1.025);
            transition: 
                background-color .1s ease-in-out,
                scale .1s ease-in-out;
        }

        &.active { 
            background: var(--blue1); 
            opacity: 1;
            color: white; 
            font-weight: bold;
            transition: background .1s ease-in-out;
        }
    }
} */

/*** Indicators ********************************/

/* .form-icons {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    
    width: auto;
    padding-right: 0rem;
    padding-right: clamp(0rem, -1rem + 4vw, 1rem);

    @media (width < 449px) {
        flex-direction: column;
    }

    & .form-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .2rem;

        width: 6.25rem;
        padding: 0 .5rem;
        
        @media (449px <= width < 778px) {
            width: 10.5rem;
        }

        @media (width < 449px) {
            width: 100%;
            text-align: center;
            align-items: center;
            gap: 0;
        }

        & .form-desc {
            margin: 0;
        }
    }

    & .form-body {
        display: flex;
        flex-wrap: wrap;

        @media (width < 449px) {
            width: 100%;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }

        & .icon-group {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: .5rem;
            width: 70px;
            padding: .7rem 0;

            @media (449px <= width < 778px) {
                gap: .2rem;
                padding: .4rem 0;
                width: 60px;
            }

            @media (width < 449px) {
                gap: .5rem;
                padding: .7rem 0;
                width: 60px;
            }

            & .icon {
                display: flex;
                width: 50%;
                aspect-ratio: 1;
                background-color: var(--blue5);
                border: 2px solid var(--blue4);
                border-radius: 50%;
                cursor: pointer;
                opacity: .5;

                & img {
                    margin: auto;
                }
            }

            &:not(.icon-clicked):hover .icon {
                background-color: var(--unBlue3) ;
                border: 2px solid var(--blue2);
                opacity: .75;
                transition: background-color .1s ease-in-out;
            }

            & .icon-label {
                font-size: .7rem;
                color: var(--blue3);
                text-align: center;
                line-height: 1.1em;
            }

            &:not(.icon-clicked):hover .icon-label {
                color: var(--blue2);
            }

            &.icon-clicked {

                & .icon {
                    background-color: var(--unBlue3);
                    border: 2px solid var(--blue1);
                    opacity: 1;
                    transition: opacity .1s ease-in-out;
                }

                & .icon-label {
                    color: var(--blue1);
                    font-weight: bold;
                    transition: color .1s ease-in-out;
                }
            }
        }
    }
} */
