@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

:root {
    --font: "Open Sans";
    --width-form: 160px;
    --width-chart: 1200px;
    --height-chart: 500px;

    /* Colors */
    --blue1: #0033A0; 
    --blue2: #4068B8; 
    --blue3: #8099D0; 
    --blue4: #B3C2E3; 
    --blue5: #D9E0F1; 
    --green1: #5CB8B2;  
    --green2: #85CAC5; 
    --green3: #AEDCD9; 
    --green4: #CEEAE8;
    --green5: #E7F4F3; 
    --yellow: #FFB81C; 
    --brown1: hsl(27, 57%, 55%); 
    --brown2: hsl(27, 57%, 65%); 
    --brown3: hsl(27, 57%, 75%); 
    --brown4: hsl(27, 57%, 85%); 
    --brown5: hsl(27, 57%, 95%); 
    --red1: #D22630; 
    --red2: #DD5C64; 
    --red3: #E99398; 
    --red4: #F2BEC1; 
    --red5: #F8DEE0; 
    --unBlue1: #418FDE; 
    --unBlue2: #84ADEC; 
    --unBlue3: #ADC9F2; 
    --unBlue4: #CEDEF7; 
    --unBlue5: #E6EFFB; 
    --unBlue6: #F3F7FD; 
    --gray1: hsl(0, 0%, 25%); 
    --gray2: hsl(0, 0%, 40%); 
    --gray3: hsl(0, 0%, 60%); 
    --gray4: hsl(0, 0%, 80%); 
    --gray5: hsl(0, 0%, 90%); 
    --gray6: hsl(0, 0%, 95%); 
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font), sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    margin: .25em 0 .5em 0;
}

h2, .methodology {
    font-size: 2em;
    font-weight: 600;
    margin: 1em 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: .5em 0;
}

p {
    margin: .8em 0;
}

strong {
    color: var(--blue1);
    font-weight: 700;
}

emph {
    font-style: italic !important;
}

svg {
    display: block;
}

img {
    max-width: 100%;
}

.disclaimer {
    display: flex;
    margin: auto;
    color: var(--red1);
    text-transform: uppercase;
    font-size: 1.2rem;
}

ul {
    margin: .8em 0 .8em 2em;
}

li {
    padding: 0 0 .5em .5em;
}

/*** Header and footer *************************/

header {
    display: flex;
    padding: min(3vw, 1rem) min(10vw, 5rem);
    
    & .logo-container img {
        width: min(60vw, 100px);
        height: auto;
        padding-top: 10px;
    }
}

footer {
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3rem 3rem 2rem 3rem;
    margin-top: 3rem;
}

.copyright {
    flex: 0 1 0px;
    font-size: 0.825rem;
    font-size: clamp(.6rem, .375rem + .9vw, 0.825rem);
    color: var(--gray2);
}

/*** Layout ************************************/

.content-grid, .full-width {
    --padding-inline: 2rem;
    --content-max-width: 700px;
    --breakout-max-width: var(--width-chart);
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    gap: 0;
    grid-template-columns: 
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 
        minmax(0, var(--breakout-size)) [breakout-end] 
        minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout,
.full-width > .breakout {
    grid-column: breakout;

    @media (width < 1200px) {
        grid-column: full-width;
    }
}

.content-grid > .full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
}

/*** Title *************************************/

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--blue1);
    color: white; 
    margin-bottom: 2rem;

    .deep-dive & {

        /* & h1 {
            font-size: 1.5em !important;
            margin: .25em 0;
        } */

        /* & .title-block-contents {
            padding: 1em;
        }

        & .subtitle {
            display: none;
        } */
    }

    & a {
        color: unset;
        text-decoration: none;
    }
}

.title-block-contents {
    text-align: center;
    padding: 2em 1em;

    .product-name {
        font-weight: 600;
        font-size: .7rem;
        text-transform: uppercase;
        opacity: .8;
        padding: .1rem .5rem;
    }

    .subtitle {
        font-size: 1.2em;
    }
}

.date {
    display: flex;
    align-items: center;
    gap: .4em;
    color: #343a40;
    margin-bottom: 2rem;

    & .svg-inline--fa {
        height: 1em;
        overflow: visible;
    }
}

/*** Deep dives ********************************/

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;

    & a {
        text-decoration: none;
        color: unset;
    }

    & .tile {
        padding: 1em;
        background-color: var(--unBlue6);
        border-radius: 2px;
        transition: 
            opacity .1s ease-in-out,
            transform .1s ease-in-out;

        & .thumbnail img {
            object-fit: cover;
            width: 100%;
            height: 220px;
        }

        & .title {
            color: var(--blue1);
            font-weight: bold;
            margin: .5em 0;
        }

        & .desc {
            font-size: .8em;
            opacity: .7;
        }

        &:hover {
            cursor: pointer;
            opacity: .8;
            transform: scale(1.01);
        }

        &.empty {
            background-color: unset;
        }
    }

}

.panel img {
    width: 700px;
}


/*** Page **************************************/

.chart {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: .8em 0;

    & .chart-title {
        font-size: 1.1em;
        font-weight: 700;
    }

    & .chart-source {
        font-size: .65em;
        color: var(--blue3);
        align-self: start;
    }
}


.highlights {
    background-color: var(--unBlue5);
    padding: .25em 1em;
    margin: 0 0 1em 0;

    & h3 {
        font-size: 1.1em;
        text-align: center;
    }
}





#fig1 {

    & .VEN {
        fill: var(--unBlue3);
    }

    & .MEX, & .HND, & .COL, & .PAN {
        fill: var(--brown4);
    }
}

#fig2 {

    & .VEN {
        fill: var(--unBlue3);
    }

    & .MEX, & .HND, & .COL, & .PAN {
        fill: var(--brown4);
    }

    & .bubble {
        fill: var(--red2);
        fill-opacity: .7;
        stroke: white;
        stroke-width: 3px;
    }
}

